@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 340 100% 97%; /* Light Purple */
    --foreground: 222 47% 11%;
    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;
    --primary: 260 83% 63%; /* Purple */
    --primary-foreground: 0 0% 100%;
    --secondary: 340 80% 94%; /* Light Purple */
    --secondary-foreground: 222 47% 11%;
    --muted: 340 80% 94%; /* Light Purple */
    --muted-foreground: 224 40% 50%;
    --accent: 260 83% 63%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 224 32% 91%;
    --input: 224 32% 91%;
    --ring: 260 83% 63%;
    --radius: 0.8rem;
  }
 
  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 260 80% 75%; /* Purple for dark mode */
    --primary-foreground: 0 0% 98%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 260 83% 63%; /* A vibrant purple for accents */
    --accent-foreground: 222 47% 11%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 260 80% 75%; /* Purple for dark mode */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-alegreya;
    padding-top: 1.5rem; /* Pushes content down from status bar */
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    padding-bottom: env(safe-area-inset-bottom);
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-belleza);
  }
}
